<ion-modal-view>
	<ion-header-bar>
		<h1 class="title">Credits</h1>
		<div class="button button-clear" ng-click="credits_modal.hide()"><span class="icon ion-close"></span></div>
	</ion-header-bar>
	<ion-content>
		<div class="credits">
			<p>Much thanks to Organization, and Team of Developers who work busy day and night to make this running.</p>
		</div>
		<div class="credits">
			<p><a href="http://www.ntonsite.com/">Ntonsite Mwamlima, Software Developer</a></p>
		</div>
	</ion-content>
</ion-modal-view>
