<ion-modal-view>
	<ion-header-bar>
		<h1 class="title">FAQS</h1>
		<div class="button button-clear" ng-click="faqs_modal.hide()"><span class="icon ion-close"></span></div>
	</ion-header-bar>
	<ion-content>
		<div class="faqs">
			<ul class="list">
				<li class="faq-item">
					<h5>I can not log in the App?</h5>
					<p>
						Make sure your data is on. Use your current domain password to log in the app.</p>
				</li>
				<li class="faq-item">
					<h5>What happens if my application is not submitted?</h5>
					<p>
						When the application fails to be submitted it is stored in archives. Please go to that page and click on the specific application and follow the neccessary steps.</p>
				</li>
				<li class="faq-item">
					<h5>At what time can I submit an account?</h5>
					<p>
						An account can be submitted at any time. All applications subimitted during the work hours will be opened on the same day. </p><p>All Applications submitted after working hours will be opened on the next day.</p>
				</li>
			</ul>
		</div>
	</ion-content>
</ion-modal-view>
