<ion-modal-view>
	<ion-header-bar>
		<h1 class="title">Terms of Service</h1>
		<div class="button button-clear" ng-click="terms_modal.hide()"><span class="icon ion-close"></span></div>
	</ion-header-bar>
	<ion-content>
		<div class="terms-of-service">
			<p>Last modified: May 10, 2019</p>
			<h4 class="title">Welcome to CAA</h4>
			<p>A mobile application for the Bank to facilitate customers acquisition, for customers to have account there required some preliminary information to be acquired so what this app does it is to gather those information immediately and been sent to Back-Office cordinators who verify those accounts.</p>
		</div>
	</ion-content>
</ion-modal-view>
